<!--继承子模板layout.html  会拥有它所有的样式-->
{{ extend "./_layout/alayout.html" }} {{ block 'head' }}
<!--写属于自己的样式-->
<link rel="stylesheet" type="text/css" href="/public/css/adindex.css"> {{ /block }}

<!--写中间不一样的地方   写了后原layout.html里默认部分就没有了  若不写就默认layout.html显示-->
{{ block 'content' }}
<div class=" col-sm-9 col-md-10  ansubit ">
    <form class="adcourse" method="post" id="addcourse">
        <div class="form-group">
            <label for="">课程名称:&nbsp;</label>
            <input type="text" class="adcname" name="cname" placeholder="请输入课程名称" required>
        </div>
        <div class="form-group">
            <label for="">课程性质:&nbsp;</label>
            <input type="text" class="adnature" name="nature" placeholder="请输入课程性质" required>
        </div>
        <div class="form-group">
            <label for="">所属专业:&nbsp;</label>
            <input type="text" class="adprofess" name="profession" placeholder="请输入课程所属专业" required>
        </div>
        <div class="form-group">
            <label for="">开课学年:&nbsp;</label>
            <input type="text" class="adcydates" name="cydates" placeholder="请输入开课学年" required>
        </div>
        <div class="form-group">
            <label for="">完成时间:&nbsp;</label>
            <input type="text" class="adcftimes" name="cftimes" placeholder="请输入课程完成时间" required>
        </div>
        <div class="form-group">
            <label for="">可选专业:&nbsp;</label>
            <input type="text" class="adcsmajor" name="csmajor" placeholder="请输入课程可选专业" required>
        </div>
        <button type="submit" class="btn  btn-info csubmit" id="addsubmit">确认提交</button>
    </form>
</div>

{{ /block }} {{ block 'script' }}
<!--留坑写属于自己的样式-->
<script src="/public/js/adindex.js"></script>
{{ /block }}