<!--继承子模板layout.html  会拥有它所有的样式-->
{{ extend "./_layout/relayout.html" }} {{ block 'head' }}
<!--写属于自己的样式-->
<link rel="stylesheet" type="text/css" href="/public/css/cmanagement.css">
<style>

</style>
{{ /block }}

<!--写中间不一样的地方   写了后原layout.html里默认部分就没有了  若不写就默认layout.html显示-->
{{ block 'content' }}
<div class="col-sm-9 col-md-10 contents">
    <!-- <form class="csearch" method="get" id="csearchs">
        <div class="form-group">
            <label for="cnames">课程名称:</label>
            <input type="text" id="cnames" name="cname">
        </div>
        <div class="form-group">
            <label for="cnature">课程性质:</label>
            <input type="text" class="profess" id="cnature" name="cnature">
        </div>
       
        <div class="form-group ">
            <button type="button" class="btn btn-primary " id="search">查询</button>
        </div>
    </form> -->
    <div class="cdetail">
        <table class="table table-hover" id="semessage">
            <thead>
                <tr>
                    <th>教师账号</th>
                    <th>教师姓名</th>
                    <th>教师专业</th>
                    <th>课名</th>
                    <th>课程代码</th>
                    <!-- <th>所属专业</th> -->
                    <th>可选专业</th>
                    <th>选课时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{ each data }}
                <tr>
                    <td>{{ $value.username }}</td>
                    <td>{{ $value.name }}</td>
                    <td>{{ $value.mid }}</td>
                    <td>{{ $value.cname }}</td>
                    <td>{{ $value.cno }}</td>
                    <!-- <td>{{ $value.profession }}</td> -->
                    <td>{{ $value.csmajor }}</td>
                    <td>{{ $value.createtime }}</td>
                    <td>
                        <a href="javascript:;" class="detail" onclick="recfirm('{{ $value.flag }}','{{ $value.username }}','{{ $value.name }}','{{ $value.mid }}','{{ $value.cname }}','{{ $value.cno }}','{{ $value.csmajor }}','{{ $value.cydates }}','{{ $value.profession }}')">确定</a>
                        <a href="javascript:;" class="choose" onclick="recdel('{{ $value.flag }}' )"> 删除</a>
                        <!-- <a href="/research/cmanagement/recupdate?id={{ $value.flag }}" class="choose"> 修改</a> -->
                    </td>
                </tr>
                {{ /each}}
            </tbody>
        </table>
    </div>
</div>

{{ /block }} {{ block 'script' }}
<!--留坑写属于自己的样式-->
<script src="/public/js/cmanage.js"></script>
{{ /block }}