<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>账号登录</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/common.css">
    <!-- Custom styles for this template -->
    <link href="/public/css/login.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <form class="form-signin form-horizontal" method="post" id="login_form">
            <h1>院级教学任务管理系统</h1>
            <h2 class="form-signin-heading">账号登录</h2>
            <div class="form-group">
                <label for="inputName" class="ms">账号</label>
                <input type="text" id="inputName" class="form-control" placeholder="    请输入用户名" name="username" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="ms">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="请输入密码" required>
            </div class="form-group">
            <div class="form-group">
                <label for="" class="ms">账号类型</label>
                <div class="radios" id="">
                    <label class="radio-inline">
                    <input type="radio" name="roles" id="duty1" value="教师" checked="checked"> <label for="duty1">教师</label>
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="roles" id="duty2" value="教秘"> <label for="duty2">教秘</label>
                    </label>
                    <label class="radio-inline">
                    <input type="radio" name="roles" id="duty3" value="教研"> <label for="duty3">教研</label>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="roles" id="duty4" value="院务"> <label for="duty4">院务</label>
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>

    </div>
    <!-- /container -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/login.js"></script>
</body>

</html>