.details {
    margin-top: 5px;
    background-color: #FFF;
    font-size: 14px;
}

.details .detas {
    border-bottom: 1px solid #eee;
}

.details .detas h4 {
    font-weight: bold;
}

.details .contents {
    padding-top: 5px;
    text-indent: 2em;
}