.searchs {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    background-color: blue;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.cdetail .adds {
    display: block;
    text-decoration: none;
    width: 80px;
    background-color: #337ab7;
    margin-bottom: 5px;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.table {
    border-top: 1px solid #c0c0c0;
}

.table a {
    display: inline-block;
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
}