<!--继承子模板layout.html  会拥有它所有的样式-->
{{ extend "./_layout/tlayout.html" }} {{ block 'head' }}
<!--写属于自己的样式-->
<link rel="stylesheet" type="text/css" href="/public/css/tcourse.css">
<style>

</style>
{{ /block }}

<!--写中间不一样的地方   写了后原layout.html里默认部分就没有了  若不写就默认layout.html显示-->
{{ block 'content' }}
<div class="col-sm-9 col-md-10 contents">
    <form class="csearch" method="get" id="csearchs">
        <div class="form-group">
            <label for="cnames">课程名称:</label>
            <input type="text" id="cnames" name="cname">
        </div>
        <div class="form-group">
            <label for="cnature">课程性质:</label>
            <input type="text" class="profess" id="cnature" name="cnature">
        </div>
        <div class="form-group ">
            <label for="cprofession">选择专业:</label>
            <select id="cprofession">
                <option></option>
                <option>计算机科学与技术</option>
                <option>软件工程</option>
                <option>信息安全</option>
                <option>智能科学与技术</option>
            </select>
        </div>
        <div class="form-group ">
            <button type="button" class="btn btn-primary " id="search">查询</button>
        </div>
    </form>
    <div class="cdetail">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>课程名</th>
                    <th>课程性质</th>
                    <th>课程所属专业</th>
                    <th>课程可选专业</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{ each data }}
                <tr>
                    <td>{{ $value.id }}</td>
                    <td>{{ $value.cname }}</td>
                    <td>{{ $value.nature }}</td>
                    <td>{{ $value.profession }}</td>
                    <td>{{ $value.csmajor }}</td>
                    <td>
                        <a href="/teacher/course/detail?id={{ $value.id }}" class="detail">课程详情</a>
                        <a href="javascript:;" class="choose" onclick="chdel({{ $value.id }},'{{ $value.cname }}' ,'{{ $value.csmajor }}' )"> 选课</a>
                    </td>
                </tr>
                {{ /each}}
            </tbody>
        </table>
    </div>
</div>

{{ /block }} {{ block 'script' }}
<!--留坑写属于自己的样式-->
<script src="/public/js/tcourse.js"></script>
{{ /block }}