<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/admin">教学计划制定 <span class="sr-only">(current)</span></a></li>

        <li><a href="/admin/tecmessage">教学信息管理</a></li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                教学档案管理
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/tesub">档案登记</a></li>
                <li><a href="/admin/tesearch">档案管理</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/maintenance">信息维护</a></li>
        <li>
            <a href="/admin/announcement">公告管理</a></li>
    </ul>
</div>